# Eclipse
.classpath
.project
.settings/

# IntelliJ
.idea
*.iws
*.iml
*.ipr
/out/

# MAC
.DS_Store

.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar
*.jar
gradlew.*
gradlew
gradle-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
